<!DOCTYPE html>
<html   lang="en"
        th:replace="~{fragments/base :: base_layout(~{::title}, ~{::section},~{})}"
        xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Пользователи</title>
</head>
<body>
<section class="container">
  <div th:replace="~{fragments/submenu :: subMenu('Пользователи', 'user')}"></div>
  <div class="d-flex flex-column mt-3">
    <div class="d-flex flex-row border">
      <div class="col-1 p-2 border-end fw-bold">ID</div>
      <div class="col-3 p-2 border-end fw-bold">ФИО</div>
      <div class="col-4 p-2 border-end fw-bold">Логин</div>
      <div class="col-4 p-2 fw-bold">Действия</div>
    </div>
    <div class="d-flex flex-column">
      <div class="d-flex flex-row border cursor-pointer" th:each="user : ${users}" th:attr="data-href=@{/user/{id}(id = ${user.getId()})}">
        <div class="col-1 p-2 border-end fw-bold" th:text="${user.getId()}">ID</div>
        <div class="col-3 p-2 border-end">
          <div>
            <img th:src="@{${user.getAvatar()}}" class="rounded-circle" width="36" height="36" th:alt="${user.getFio()}">
            <span th:text="${user.getFio()}">ФИО</span>
          </div>
        </div>
        <div class="col-4 p-2 border-end" th:text="${user.getLogin()}">Логин</div>
        <div class="col-4 p-2">
          <a class="btn btn-secondary" th:href="@{/user/{id}(id = ${user.getId()})}">Изучить</a>
          <a class="btn btn-primary" th:if="${session.user.params.contains('user_changed')}" th:href="@{/user/{id}/edit(id = ${user.getId()})}">Изменить</a>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>