<!DOCTYPE html>
<html   lang="en"
        th:replace="~{fragments/base :: base_layout(~{::title}, ~{::section},~{})}"
        xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Пользователи</title>
</head>
<body>
<section>
  <div th:replace="~{fragments/submenu :: subMenu('Пользователи', 'user')}"></div>
  <div class="d-flex flex-column mt-3">
    <div class="d-flex flex-row border">
      <div class="col-1 p-2 border-end fw-bold">ID</div>
      <div class="col-2 p-2 border-end fw-bold">ФИО</div>
      <div class="col-3 p-2 border-end fw-bold">Логин</div>
      <div class="col-3 p-2 border-end fw-bold">Роли</div>
      <div class="col-3 p-2 fw-bold">Действия</div>
    </div>
    <div class="d-flex flex-column">
      <div class="d-flex flex-row border" th:object="${user}">
        <div class="col-1 p-2 border-end fw-bold" th:text="${user.getId()}">ID</div>
        <div class="col-2 p-2 border-end">
          <div>
            <img th:src="${user.getAvatar()}" class="col-12" th:alt="${user.getFio()}">
            <p th:text="${user.getFio()}">ФИО</p>
          </div>
        </div>
        <div class="col-3 p-2 border-end" th:text="${user.getLogin()}">Логин</div>
        <div class="col-3 p-2 border-end">
          <ul class="list-group">
            <li class="list-group-item my-2" th:each="role : ${roles}">
              <a class="text-decoration-none" th:if="${session.user.params.contains('role_viewer')}" th:href="@{/role/{id}(id = ${role.getId()})}" th:text="${role.getName()}"></a>
              <span class="text-decoration-none" th:if="${!session.user.params.contains('role_viewer')}" th:text="${role.getName()}"></span>
            </li>
          </ul>
        </div>
        <div class="col-3 p-2">
          <a class="btn btn-primary" th:if="${session.user.params.contains('user_changed')}" th:href="@{/user/{id}/edit(id = ${user.getId()})}">Изменить</a>
          <a type="button" class="btn btn-danger" th:if="${session.user.params.contains('user_deleted')}"
             data-bs-toggle="modal"
             data-bs-target="#deleteUser" th:attr="data-modal-delete = @{/user/{id}/delete(id = ${user.getId()})}">Удалить</a>
        </div>
      </div>
    </div>
  </div>
   <!-- Modal -->
  <div class="modal fade" id="deleteUser" tabindex="-1" aria-labelledby="deleteUserLabel" aria-hidden="true" th:if="${session.user.params.contains('user_deleted')}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteUserLabel">Удаление пользователя</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button class="btn btn-danger" data-href="">Удалить</button>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>