<!DOCTYPE html>
<html th:fragment="base_layout(title,content,scripts)" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:replace="${title}">Title</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{img/favicon.png}" />
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/bootstrap-grid.min.css}">
    <link rel="stylesheet" th:href="@{css/bootstrap-utilities.min.css}">
    <link rel="stylesheet" th:href="@{css/main.css}">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="ВФотоальбоме">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{img/favicon.png}" alt="ВФотоальбоме">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Меню</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" th:href="@{/}">Главная</a>
                        </li>
                        <li class="nav-item" th:if="${session.user == null}">
                            <a class="nav-link" th:href="@{/login}">Войти</a>
                        </li>
                        <li class="nav-item" th:if="${session.user == null}">
                            <a class="nav-link" th:href="@{/registration}">Регистрация</a>
                        </li>
                        <li class="nav-item dropdown" th:if="${session.user != null}">
                            <a class="nav-link dropdown-toggle" href="#" role="button" th:text="${session.user.fio}" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Выйти</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<div th:insert="${content}" class="container">

</div>
<footer></footer>
<script th:src="@{js/bootstrap.bundle.min.js}"></script>
<script th:src="@{js/main.js}"></script>
<script th:replace="${scripts}"></script>
</body>
</html>