<!DOCTYPE html>
<html lang="en"
      th:replace="~{fragments/base :: base_layout(~{::title}, ~{::section},~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Фотография</title>
</head>
<body>
<section>
    <div class="container my-2">
        <div class="card" th:object="${photo}">
            <input type="text" id="cardId" th:value="${photo.getId()}" name="id" hidden>
            <img th:src="${photo.getPath()}" id="cardImg" class="card-img-top" th:alt="${photo.getName()}">
            <div class="card-body">
                <h5 class="card-title" id="cardName" th:text="${'Название:' + photo.getName()}">Photo name</h5>
                <h5 class="card-title" id="cardAlbum" th:if="${photo.getCategoryID() != 0}"
                    th:text="${'Категория: ' + photo.getCategory().getName()}">PhotoCategory name</h5>
                <h5 class="card-title" id="cardAlbum" th:if="${photo.getCategoryID() == 0}">Категория: </h5>
                <p class="card-text" id="cardDescription" th:text="${'Описание: ' + photo.getDescription()}">Photo
                    description</p>
                <p class="card-text" th:text="${'Добавил: ' + photo.getOwner().getFio()}">Photo owner fio</p>
                <p class="card-text" th:text="${'Добавлена: ' + photo.getDateAdd()}">Photo dateAdd</p>
                <p class="card-text" id="cardDateEdit" th:text="${'Изменена: ' + photo.getDateEdit()}">Photo
                    dateEdit</p>
                <a type="button" id="openEditPhotoModal"
                   th:if="${session.user != null && session.user.getId() == photo.getOwnerID()}"
                   class="btn btn-primary">Редактировать</a>
                <a type="button" data-bs-toggle="modal"
                   data-bs-target="#deletePhoto"
                   th:if="${session.user != null && session.user.getId() == photo.getOwnerID()}"
                   th:attr="data-modal-delete = @{/photo/{id}/delete(id = ${photo.getId()})}" class="btn btn-danger">Удалить</a>
            </div>
            <div class="card-footer">
                <div class="card">
                    <div class="card-body">
                        <div class="input-group mb-3" th:if="${session.user != null}">
                            <div class="form-floating">
                                <input type="text" id="addComment" class="form-control"
                                       placeholder="Введите комментарий..." aria-label="Recipient's username"
                                       aria-describedby="addedComment"/>
                                <label for="addComment">+ Добавить комментарий</label>
                            </div>
                            <button class="btn btn-outline-secondary" type="button"
                                    id="addedComment">Добавить
                            </button>
                        </div>
                        <div id="photo_comments">
                            <div class="d-flex flex-start mb-4 photo_comment-item" th:each="comment : ${photo.getComments()}">
                                <img class="rounded-circle shadow-1-strong me-3"
                                     th:src="${comment.getUser().getAvatar()}" alt="avatar" width="65"
                                     height="65"/>
                                <div class="card w-100">
                                    <div class="card-body p-4">
                                        <h5 th:text="${comment.getUser().getFio()}">Johny Cash</h5>
                                        <p class="small" th:text="${comment.getDateAdd()}">3 hours ago</p>
                                        <p th:text="${comment.getComment()}">Comment</p>
                                        <div class="d-flex justify-content-between align-items-center"
                                             th:if="${session.user != null && comment.getUserID() == session.user.getId()}">
                                            <button type="button" th:attr="data-id=${comment.getId()}"
                                                    class="removeComment btn btn-outline-danger"><i
                                                    class="fa-solid fa-minus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4 photo_comment-item" th:if="${photo.getComments().size() == 0}">
                                <div class="card-body">
                                    Пока нет комментариев
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editPhotoModal"
             th:if="${session.user != null && session.user.getId() == photo.getOwnerID()}" tabindex="-1"
             aria-labelledby="editPhotoLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editPhotoLabel">Редактирование фотографии</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editPhotoForm" enctype="multipart/form-data" th:object="${photo}">
                            <div class="mb-3">
                                <input type="text" name="id" id="photoID" th:value="${photo.getId()}" hidden>
                                <input type="text" id="photoAlbumID" th:value="${photo.getCategoryID()}" hidden>
                                <input type="text" name="ownerID" id="photoOwnerID" th:value="${photo.getOwnerID()}"
                                       hidden>
                                <img th:src="${photo.getPath()}" id="photoImg" class="card-img-top"
                                     th:alt="${photo.getName()}">
                                <label for="photoFile" class="form-label">Фотография</label>
                                <input type="file" class="form-control" name="file" id="photoFile"
                                       placeholder="Фотография" accept="image/*">
                            </div>
                            <div class="mb-3">
                                <label for="photoName" class="form-label">Название</label>
                                <input type="text" class="form-control" name="name" id="photoName"
                                       placeholder="Название" th:value="${photo.getName()}">
                            </div>
                            <div class="mb-3">
                                <label for="photoAlbum" class="form-label">Альбом</label>
                                <select class="form-select" name="albumID" id="photoAlbum"></select>
                            </div>
                            <div class="mb-3">
                                <label for="photoDescription" class="form-label">Описание</label>
                                <textarea class="form-control" name="description" id="photoDescription"
                                          placeholder="Описание" cols="30"
                                          rows="10" th:text="${photo.getDescription()}"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button id="editPhotoSubmit" type="button" class="btn btn-primary">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deletePhoto"
             th:if="${session.user != null && session.user.getId() == photo.getOwnerID()}" tabindex="-1"
             aria-labelledby="deletePhotoLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deletePhotoLabel">Удаление фотографии</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button class="btn btn-danger" data-href="">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/toasters}"></div>
    </div>
</section>
<script th:src="@{/js/photoActions.js}"></script>
</body>
</html>