<!DOCTYPE html>
<html lang="en"
      th:replace="~{fragments/base :: base_layout(~{::title}, ~{::section},~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Фотография</title>
</head>
<body>
<section>
    <div class="container my-2">
        <div class="card" th:object="${photo}">
            <input type="text" id="cardId" th:value="${photo.getId()}" name="id" hidden>
            <img th:src="${photo.getPath()}" id="cardImg" class="card-img-top" th:alt="${photo.getName()}">
            <div class="card-body">
                <h5 class="card-title" id="cardName" th:text="${'Название:' + photo.getName()}">Photo name</h5>
                <h5 class="card-title" id="cardAlbum" th:if="${photo.getAlbumID() != 0}"
                    th:text="${'Альбом: ' + photo.getAlbum().getName()}">PhotoAlbum name</h5>
                <h5 class="card-title" id="cardAlbum" th:if="${photo.getAlbumID() == 0}">Альбом: </h5>
                <p class="card-text" id="cardDescription" th:text="${'Описание: ' + photo.getDescription()}">Photo description</p>
                <p class="card-text" th:text="${'Добавил: ' + photo.getOwner().getFio()}">Photo owner fio</p>
                <p class="card-text" th:text="${'Добавлена: ' + photo.getDateAdd()}">Photo dateAdd</p>
                <p class="card-text" id="cardDateEdit" th:text="${'Изменена: ' + photo.getDateEdit()}">Photo dateEdit</p>
                <a type="button" id="openEditPhotoViewersModal" class="btn btn-primary">Редактировать доступ</a>
                <a type="button" id="openEditPhotoModal" class="btn btn-primary">Редактировать</a>
                <a type="button" data-bs-toggle="modal"
                   data-bs-target="#deletePhoto" th:attr="data-modal-delete = @{/photo/{id}/delete(id = ${photo.getId()})}" class="btn btn-danger">Удалить</a>
            </div>
        </div>
        <div class="modal fade" id="editPhotoViewersModal" tabindex="-1" aria-labelledby="editPhotoViewersLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editPhotoViewersLabel">Редактирование доступ к альбому</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editViewersForm">
                            <input type="text" name="id" hidden>
                            <label class="form-label">Доступ</label>
                            <div id="viewer_item_temp" class="viewer_item input-group mb-3 visually-hidden">
                                <select class="form-select">
                                    <option th:each="user : ${users}" th:value="${user.getId()}" th:text="${user.getFio()}"></option>
                                </select>
                                <button class="btn btn-success addViewer" type="button">+</button>
                            </div>
                            <div id="viewers_container"></div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button id="editPhotoViewersSubmit" type="button" class="btn btn-primary">Изменить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editPhotoModal" tabindex="-1" aria-labelledby="editPhotoLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editPhotoLabel">Редактирование фотографии</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editPhotoForm" enctype="multipart/form-data" th:object="${photo}">
                            <div class="mb-3">
                                <input type="text" name="id" id="photoID" th:value="${photo.getId()}" hidden>
                                <input type="text" id="photoAlbumID" th:value="${photo.getAlbumID()}" hidden>
                                <input type="text" name="ownerID" id="photoOwnerID" th:value="${photo.getOwnerID()}" hidden>
                                <img th:src="${photo.getPath()}" id="photoImg" class="card-img-top" th:alt="${photo.getName()}">
                                <label for="photoFile" class="form-label">Фотография</label>
                                <input type="file" class="form-control" name="file" id="photoFile"
                                       placeholder="Фотография" accept="image/*">
                            </div>
                            <div class="mb-3">
                                <label for="photoName" class="form-label">Название</label>
                                <input type="text" class="form-control" name="name" id="photoName"
                                       placeholder="Название" th:value="${photo.getName()}">
                            </div>
                            <div class="mb-3">
                                <label for="photoAlbum" class="form-label">Альбом</label>
                                <select class="form-select" name="albumID" id="photoAlbum"></select>
                            </div>
                            <div class="mb-3">
                                <label for="photoDescription" class="form-label">Описание</label>
                                <textarea class="form-control" name="description" id="photoDescription"
                                          placeholder="Описание" cols="30"
                                          rows="10" th:text="${photo.getDescription()}"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button id="editPhotoSubmit" type="button" class="btn btn-primary">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deletePhoto" tabindex="-1" aria-labelledby="deletePhotoLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deletePhotoLabel">Удаление фотографии</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button class="btn btn-danger" data-href="">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/toasters}"></div>
    </div>
</section>
<script th:src="@{/js/photoActions.js}"></script>
</body>
</html>